/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */


input[type="text"] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}



.k1 {
	width: 150px;
	height: 25px;
	margin: 15px;
	float: left;
}
.k2 {
	width: 50px;
	height: 30px;
	margin: 15px;
	float: left;
}
.k3 {
	width: 80px;
	height: 30px;
	margin: 15px;
	float: left;
}
.k4 {
	width: 100px;
	height: 30px;
	margin: 12px;
	float: left;
}
.k5 {
	width: 100px;
	height: 30px;
	margin: 12px;
	float: left;
}
.k6 {
	width: 100px;
	height: 30px;
	margin: 12px;
	float: left;
}
.k7 {
	width: 20px;
	height: 30px;
	margin: -20px;
	float: right;
}

.book-1 {
	width: 280px;
	height: 35px;
	margin: 10px;
	float: left;
}
.book-2 {
	width: 280px;
	height: 35px;
	margin: 10px;
	float: left;
}
.book-3 {
	width: 120px;
	height: 35px;
	margin: 10px;
	float: left;
}
.book-4 {
	width: 135px;
	height: 35px;
	margin: 10px;
	float:left;
}
.book-5 {
	width: 20px;
	height: 35px;
	margin: 10px;
	float: left;
}


.bb-1 {
	width: 350px;
	height: 0px;
	margin: 15px;
	float: left;
}
.bb-2 {
	width: 90px;
	height: 0px;
	margin: 15px;
	float: left;
}
.bb-3 {
	width: 150px;
	height: 0px;
	margin: 15px;
	float: left;
}
.bb-4 {
	width: 140px;
	height: 0px;
	margin: 15px;
	float:left;
}
.bb-5 {
	width:0px;
	height: 0px;
	margin: -25px;
	float:right;
}


.bbk-1 {
	width: 360px;
	height: 0px;
	margin: 15px;
	float: left;
}
.bbk-2 {
	width: 90px;
	height: 0px;
	margin: 15px;
	float: left;
}
.bbk-3 {
	width: 120px;
	height: 0px;
	margin: 15px;
	float: left;
}
.bbk-4 {
	width: 140px;
	height: 0px;
	margin: 15px;
	float:left;
}
.bbk-5 {
	width:0px;
	height: 0px;
	margin: -25px;
	float:right;
}


.bbc-1 {
	width: 460px;
	height: 0px;
	margin: 15px;
	float: left;
}
.bbc-2 {
	width: 130px;
	height: 0px;
	margin: 15px;
	float: left;
}
.bbc-3 {
	width: 120px;
	height: 0px;
	margin: 15px;
	float: left;
}
.bbc-4 {
	width:0px;
	height: 0px;
	margin: -25px;
	float:right;
}

.bbl-1 {
	width: 480px;
	height: 0px;
	margin: 15px;
	float: left;
}
.bbl-2 {
	width: 100px;
	height: 0px;
	margin: 15px;
	float: left;
}
.bbl-3 {
	width: 120px;
	height: 0px;
	margin: 15px;
	float: left;
}
.bbl-4 {
	width:0px;
	height: 0px;
	margin: -25px;
	float:right;
}
