/*สีเทาาาาาาาาาาาาาาาาาาาาาาาาาาา*/
.container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: #BEBEBE;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #D3D3D3;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #BEBEBE;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 16px;
	left: 16px;
	width: 20px;
	height: 20px;
	border-radius: 150%;
	background: white;
}


/*สีแดงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงง*/
.container1 {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color:#FF0000;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark1 {
    background-color:#FF6666 ;
}

/* When the radio button is checked, add a blue background */
.container1 input:checked ~ .checkmark1 {
    background-color: #FF0000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark1:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container1 input:checked ~ .checkmark1:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container1 .checkmark1:after {
 	top: 16px;
	left: 16px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
        background: white;
}

/*สีชมพูจ้าาาาาาาาาาาาาาาาาาาาาาาาาาาาาา*/
.container2 {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color:#FF0099;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark2 {
    background-color:#FF66CC ;
}

/* When the radio button is checked, add a blue background */
.container2 input:checked ~ .checkmark2 {
    background-color: #FF0099;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark2:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container2 input:checked ~ .checkmark2:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container2 .checkmark2:after {
 	top: 16px;
	left: 16px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white;
}



/*สีส้มมมมมมมมมมมมมมมมมม*/
.container3 {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container3 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color:#FF6600;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container3:hover input ~ .checkmark3 {
    background-color:#FFCC00 ;
}

/* When the radio button is checked, add a blue background */
.container3 input:checked ~ .checkmark3 {
    background-color:#FF6600;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark3:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container3 input:checked ~ .checkmark3:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container3 .checkmark3:after {
 	top: 16px;
	left: 16px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white;
}




/*สีเขียวอ่อนนนนนนนนนนนนนนนนนนน*/
.container4 {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container4 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark4 {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color:#99CC00;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container4:hover input ~ .checkmark4 {
    background-color:#99FF66 ;
}

/* When the radio button is checked, add a blue background */
.container4 input:checked ~ .checkmark4 {
    background-color:#99CC00;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark4:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container4 input:checked ~ .checkmark4:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container4 .checkmark4:after {
 	top: 16px;
	left: 16px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white;
}



/*สีเขียวเข้มมมมมมมมมมมมมมม*/
.container5 {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container5 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark5 {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color:#009900;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container5:hover input ~ .checkmark5 {
    background-color:#00FF00 ;
}

/* When the radio button is checked, add a blue background */
.container5 input:checked ~ .checkmark5 {
    background-color:#009900;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark5:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container5 input:checked ~ .checkmark5:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container5 .checkmark5:after {
 	top: 16px;
	left: 16px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white;
}



/*สีฟ้าาาาาาาาาาาาาาาาาาาาาาา*/
.container6 {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container6 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark6 {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color:#0066FF;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container6:hover input ~ .checkmark6 {
    background-color:#00CCFF ;
}

/* When the radio button is checked, add a blue background */
.container6 input:checked ~ .checkmark6 {
    background-color:#0066FF;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark6:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container6 input:checked ~ .checkmark6:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container6 .checkmark6:after {
 	top: 16px;
	left: 16px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white;
}




/*สีม่วงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงง*/
.container7 {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container7 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark7 {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color:#9400D3;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container7:hover input ~ .checkmark7 {
    background-color:#BA55D3 ;
}

/* When the radio button is checked, add a blue background */
.container7 input:checked ~ .checkmark7 {
    background-color:#9400D3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark7:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container7 input:checked ~ .checkmark7:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container7 .checkmark7:after {
 	top: 16px;
	left: 16px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white;
}


.b-1 {
	width: 50px;
	height: 50px;
	margin: 10px;
	float: left;
}

.b-2 {
	width:50px;
	height: 50px;
	margin: 10px;
	float: left;
}
.b-3 {
	width: 50px;
	height: 50px;
	margin: 10px;
	float: left;
}
.b-4 {
	width: 50px;
	height: 50px;
	margin: 10px;
	float: left;
}

.b-5 {
	width: 50px;
	height: 50px;
	margin: 10px;
	float: left;
}
.b-6 {
	width: 50px;
	height: 50px;
	margin: 10px;
	float: left;
}
.b-7 {
	width: 50px;
	height: 50px;
	margin: 10px;
	float: left;
}
.b-8 {
	width: 50px;
	height: 50px;
	margin: 10px;
	float: left;
}

/*สวิตตตตตตตตตตตตตตตตตตตตตตตตตตตตตตตตต*/
/* Switch 1 Specific Styles Start */
input[type="checkbox"].switch_1{
	font-size: 30px;
        margin-left: 400px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 3.5em;
	height: 1.5em;
	background: #ddd;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked{
	background: #0ebeff;
  }
  
  input[type="checkbox"].switch_1:after{
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked:after{
	left: calc(100% - 1.5em);
  }
	
/* Switch 1 Specific Style End */

#d1{
    float: left;
}
#d2{
    float: left;
}
.boc {
	width: 170px;
	height: 50px;
	margin: 10px;
	float: right;
}