/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

body {
  overflow-x: hidden;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255,0.3);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #FFFFFF;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
input[type=text] {
    width: 70px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 10px 10px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: right;
}

input[type=text]:focus {
    width: 100%;
}

.block-12 {
	width: 80px;
	height: 20px;
	margin: 7px;
	float: left;
}
.block-1 {
	width: 150px;
	height: 50px;
	margin: 10px;
	float: left;
}
.block-2 {
	width: 80px;
	height: 20px;
	margin: 7px;
	float: left;
}
.block-3 {
	width: 80px;
	height: 20px;
	margin: 7px;
	float: left;
}
.block-4 {
	width: 80px;
	height: 40px;
	margin: 10px;
	float: right;
}
.block-5 {
	width: 90px;
	height: 40px;
	margin: 10px;
	float: right;
}
.block-6 {
	width: 90px;
	height: 30px;
	margin: 10px;
	float: right;
}
.block-7 {
	width: 80px;
	height: 30px;
	margin: 10px;
	float: right;
}
/*เมนู วันเดือนปี*/
.bloc-1 {
	width: 80px;
	height: 50px;
	margin: 10px;
	float: left;
}
.bloc-2 {
	width: 80px;
	height: 20px;
	margin: 7px;
	float: left;
}
.bloc-3 {
	width: 80px;
	height: 20px;
	margin: 7px;
	float: left;
}
.bloc-4 {
	width: 80px;
	height: 40px;
	margin: 10px;
	float: right;
}
.bloc-5 {
	width: 100%;
	height: auto;
	
	float: left;
}
.bloc-6 {
	width: 100%;
	height: auto;
	
	float: right;
}
.b7 {
	width: auto;
	height: auto;
	
	float: none;
}

.mo1 {
	width: auto;
	height: auto;
	
}
.mo2 {
	width: auto;
	height: auto;
        
	
}
.mo3 {
	width: auto;
	height: auto;
	
}
/*drowdown*/
.bxx1 {
	width: 80px;
	height: 50px;
	margin: 10px;
	float: left;
}
/*  ---------------------------*/
.xo1 {
	width: 50%;
	height: 20px;
	margin: 10px;
	float: left;
        text-align:center;
        
        
}
.xo2 {
	width: 20%;
	height: 20px;
	margin: 10px;
	float: left;
        text-align:center;       
}
.xo3 {
	width: 300px;
	height: 20px;
	margin: 10px;
	float: left;
        text-align:center;       
}
.xo4 {
	width: 20px;
	height: 20px;
	margin: 10px;
	float: left;
        text-align:center;       
}
.xo5 {
	width: 20px;
	height: 20px;
	margin: 10px;
	float: left;
        text-align:center;       
}
.xo6 {
	width: 20px;
	height: 20px;
	margin: 10px;
	float: left;
        text-align:center;       
}
.xo7 {
	width: 120px;
	height: 20px;
	margin: 10px;
	float: left;
        text-align:center;       
}
.xo8 {
    
	width: 60px;
	height: 20px;
	margin: 10px;
	float: right;
}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #e7e7e7;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}

.button4 {
    background-color: white;
    color: black;
    border: 0.1px solid white;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}
.button6 {
    background-color: white; 
    color: black; 
    border: 2px solid #e7e7e7;
}

.button6:hover {
    background-color: #f44336;
    color: white;
}

.checkbox-warning-filled [type="checkbox"][class*='filled-in']:checked+label:after {
    border-color: #32CD32;
    background-color: #32CD32;
}


ul.v_menu{ /* กำหนดขอบเขตของเมนู */
    list-style:none;
    margin:0px;
    padding:0px;
    font-family:tahoma, "Microsoft Sans Serif", Vanessa;
    
}
ul.v_menu > li{ /* กำหนดรูปแบบให้กับเมนูเ */
    display:block;
    width:70px;
    height:25px;
    text-indent:2px;
    background-color:#F5F5F5;
    
    float:left;
    text-align:center;
}
ul.v_menu > li:hover{ /* กำหนดรูปแบบให้กับเมนูเมื่อมีเมาส์อยู่เหนือ */
    display:block;
    width:70px;
    height:25px;
    text-indent:2px;
    background-color:#D3D3D3;
    
    float:left;
    text-align:center;  
}
ul.v_menu > li > a{ /* กำหนดรูปแบบให้กับลิ้งค์ */
    text-decoration:none;
    color:#000000;
    line-height:30px;
    font-size: 15px;
}


ul.v_menu1{ /* กำหนดขอบเขตของเมนู */
    list-style:none;
    margin:0px;
    padding:0px;
    font-family:tahoma, "Microsoft Sans Serif", Vanessa;
    font-size:12px;
    display:block;
}
ul.v_menu1 > li{ /* กำหนดรูปแบบให้กับเมนูเ */
    display:block;
    width:49.5%;
    height:auto;
    text-indent:2px;
    background-color:#F5F5F5;
    border:1px #FFFFFF inset;
/*    float:left;*/
/*    text-align: center;*/
}
ul.v_menu1 > li:hover{ /* กำหนดรูปแบบให้กับเมนูเมื่อมีเมาส์อยู่เหนือ */
    display:block;
    width:49.5%;
    height:auto;
    text-indent:2px;
    background-color:#D3D3D3;
    border:1px #FFFFFF inset;
/*    float:left;*/
/*    text-align:center;  */
}
ul.v_menu1 > li > a{ /* กำหนดรูปแบบให้กับลิ้งค์ */
    text-decoration:none;
    color:#000000;
    line-height:30px;
    font-size: 15px;
}


ul.v_menu2{ /* กำหนดขอบเขตของเมนู */
    list-style:none;
    margin:0px;
    padding:0px;
    font-family:tahoma, "Microsoft Sans Serif", Vanessa;
    
}
ul.v_menu2 > li{ /* กำหนดรูปแบบให้กับเมนูเ */
    display:block;
    width:30px;
    height:10px;
    text-indent:2px;
    background-color:#FFF;
    
    float:left;
    text-align:center;
}
ul.v_menu2 > li:hover{ /* กำหนดรูปแบบให้กับเมนูเมื่อมีเมาส์อยู่เหนือ */
    display:block;
    width:30px;
    height:10px;
    text-indent:2px;
    background-color:#D3D3D3;
    
    float:left;
    text-align:center;  
}
ul.v_menu2 > li > a{ /* กำหนดรูปแบบให้กับลิ้งค์ */
    text-decoration:none;
    color:#000000;
    line-height:30px;
    font-size: 15px;
}


ul.v_menu3{ /* กำหนดขอบเขตของเมนู */
    list-style:none;
    margin:0px;
    padding:0px;
    font-family:tahoma, "Microsoft Sans Serif", Vanessa;
    
}
ul.v_menu3 > li{ /* กำหนดรูปแบบให้กับเมนูเ */
    display:block;
    width:70px;
    height:25px;
    text-indent:2px;
    background-color:#F5F5F5;
    
    float:left;
    text-align:center;
}
ul.v_menu3 > li:hover{ /* กำหนดรูปแบบให้กับเมนูเมื่อมีเมาส์อยู่เหนือ */
    display:block;
    width:70px;
    height:25px;
    text-indent:2px;
    background-color:#D3D3D3;
    
    float:left;
    text-align:center;  
}
ul.v_menu3 > li > a{ /* กำหนดรูปแบบให้กับลิ้งค์ */
    text-decoration:none;
    color:#000000;
    line-height:30px;
    font-size: 15px;
}
/*ภาษี*/
ul.v_men{ /* กำหนดขอบเขตของเมนู */
    list-style:none;
    margin:0px;
    padding:0px;
    font-family:tahoma, "Microsoft Sans Serif", Vanessa;
    
}
ul.v_men > li{ /* กำหนดรูปแบบให้กับเมนูเ */
    display:inline;
    width:325px;
    height:auto;
    text-indent:2px;
    background-color:#FFF;
    
    float:left;
    text-align:center;
}
ul.v_men > li:hover{ /* กำหนดรูปแบบให้กับเมนูเมื่อมีเมาส์อยู่เหนือ */
    display:inline;
    width:325px;
    height:auto;
    text-indent:2px;
    background-color:#FFF;
    
    float:left;
    text-align:center;  
}
ul.v_men > li > a{ /* กำหนดรูปแบบให้กับลิ้งค์ */
    text-decoration:none;
    color:#000000;
    line-height:30px;
    font-size: 15px;
}

/*--------------------*/
ul.v_men1{ /* กำหนดขอบเขตของเมนู */
    list-style:none;
    margin:0px;
    padding:0px;
    font-family:tahoma, "Microsoft Sans Serif", Vanessa;
    
}
ul.v_men1 > li{ /* กำหนดรูปแบบให้กับเมนูเ */
    display:inline;
    width:325px;
    height:auto;
    text-indent:2px;
    background-color:#FFF;
    
    float:left;
    text-align:center;
}
ul.v_men1 > li:hover{ /* กำหนดรูปแบบให้กับเมนูเมื่อมีเมาส์อยู่เหนือ */
    display:inline;
    width:325px;
    height:auto;
    text-indent:2px;
    background-color:#FFF;
    
    float:left;
    text-align:center;  
}
ul.v_men1 > li > a{ /* กำหนดรูปแบบให้กับลิ้งค์ */
    text-decoration:none;
    color:#000000;
    line-height:30px;
    font-size: 15px;
}


/* block setting*/
#wrapper {width:960px;margin:0 auto;}
h3 {font-size:30px;color:#000000;}

#header {background:#E0FFFF;padding:20px;width:70%;}
#content {background:#D3D3D3;padding:20%;width:49.5%; height:500 ; float:left;}
#sidebar {background:#D3D3D3;padding:20%;width:49.5%; height:1000; float:right;}
#footer {background:#FFFAFA;padding:20px;clear:both;}

.bl {width:150px;height:150px;}
.fl-1 {float:left; display: block}
.fl-2 {float:right;}
.ite-1 {background:#E0FFFF;}/*LightCyan*/
.ite-2 {background:#F0FFF0;}/*Honeydew*/
.ite-3 {background:#F8F8FF;}/*GhostWhite*/
.ite-4 {background:#FFFAFA;}/*Snow*/



#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    background-color: #f1f1f1;
}

#a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
#ac {
    display: block;
    color: #000;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #555;
}
/* Change the link color on hover */
#a:hover {
    background-color: #FFF;
    color: black;
}
.jumbotron1 {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #FFF;
  border-radius: 0.3rem;
}

@media (min-width: 576px) {
  .jumbotron1 {
    padding: 4rem 2rem;
  }
}
.jumbotron2 {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #E6E6FA;
  border-radius: 0.3rem;
}

@media (min-width: 800px) {
  .jumbotron2 {
    padding: 4rem 2rem;
  }
}

.bn{
    display: inline-block;
    
}
.bv{
    border: solid 1px;
    align: center;
    margin: 6.5px;
    border-color: #DCDCDC;
}

.bv1{
    
    align: center;
    margin: 12px;
    
}

#div1 {
    float:left;
    width:150px;
    height:100px;
    text-align:center;
}
#div2 {
    float:left;
    width:150px;
    height:100px;
    text-align:center;
}

#div3 {
    float:left;
    width:100px;
    height:100px;
    
}
#div4 {
    float: left;
    width:130px;
    height:100px;
    
}
#div5 {
    float:left;
 
}
#div6 {
    float: right;
    
}
#div7 {
    float:left;
 
}
#div8 {
    float: right;
    
}

.h7,h8 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
h7, .h7 {
  font-size: 0.75rem;
}
h8, .h8 {
  font-size: 0.90rem;
}
/* container------------------------------*/
@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    }
}
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1170px;
    }
}
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    }
}
table1{
    width: 100px;
    height: 50px;
    border: solid 1px;
    align: center;
    border-color: #DCDCDC;
}


/*---------------dropdown---------------*/
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
  font-size:13px;
  
  
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: #fff;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 12px;
  right: 8px;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-color: #000 transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 5px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #000;
  padding: 5px 14px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #FFF;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/*----------------------------manu--------------------*/
.bck-1 {
width: 300px;
height: 35px;
margin: 10px;
float: left;
}
.bck-2 {
width: 280px;
height: 35px;
margin: 10px;
float: left;
}
.bck-3 {
width: 120px;
height: 35px;
margin: 10px;
float: left;
}
.bck-4 {
width: 135px;
height: 35px;
margin: 10px;
float:left;
}
.bck-5 {
width: 20px;
height: 35px;
margin: 10px;
float: left;
}
