/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 22, 2017, 9:05:15 AM
    Author     : pop
*/
.btn-circle-plus {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px 0;
    font-size: 40px;
    line-height: 0.3px;
    border-radius: 25px;
    background:transparent;
    color:skyblue;
    z-index:100;
    top:145px;
    border:skyblue 2px solid;

}
.btn-circle-plus:hover ,.btn-circle-plus:focus {
    color:blue;
    background:transparent;
    border:blue 2px solid;

}

.top_date_title, .label_title , .label_title_top{
    padding-right:10px;
    font-weight:500;

}
.label_title{
    font-size:16px;
    font: bold; 
    color:black  !important
}

.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}

.tran-bg{
    background-color: transparent;
}

.tran-bg-right{
    background-color: transparent;
    text-align: right;
}

.file_upload_box{
    padding:7px ;

}

.margin_top10{
    margin-top:10px;
}

.margin_left10{
    margin-left:75px;
}

.attach-file{
    font-size: 45px;
    color: skyblue;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
    background: transparent;
    border-radius: .5em;
    float: left;
    padding: .5em;
}

.fileContainer [type=file] {
    cursor: pointer;
}

.button-size-save{
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    color: black;
    text-decoration:none; 
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: black;
    background-color: #d3d3d3; background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
    background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
    background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
    background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
    background-image: -o-linear-gradient(top, #d3d3d3, #707070);
    background-image: linear-gradient(to bottom, #d3d3d3, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d3d3, endColorstr=#707070);
}

.button-size-sucess{
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    color: white;
    background-color: #017ebc;
}

.button-size-cancel{
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    color: black;
    text-decoration:none; 
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: black;
    background-color: #ff9a9a; background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9a9a), to(#ff4040));
    background-image: -webkit-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: -moz-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: -ms-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: -o-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: linear-gradient(to bottom, #ff9a9a, #ff4040);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff9a9a, endColorstr=#ff4040);
}

.file_dir{
    background-color: white; 
    font-size: 20px;
    color: skyblue; 
    line-height: 50px;
    width: 500px;
}

.file_dir2{
    background-color: white; 
    font-size: 15px;
    color: skyblue; 
    line-height: 20px;
    width: 500px;
}

.picture_frame{
    border-style: solid;
    border-width: 3px;
    border-color: #cccccc; 
    width:  350px;
    height: 350px;
}

.close-btn{
    position: absolute;
    z-index: 100;
    border: none; 
    background: transparent;
    padding: 10px 
}

.trow{

}

.del-line{
    border-bottom: 0;
    border-right:0; 
}

.custom-textarea{
    height: 75px;
    width: 370px;
    max-height: 75px;
    max-width: 370px;
    min-height: 75px;
    min-width: 370px;
}

.cus-btn{
    font-size: 30px; 
    color: skyblue; 
    display: none;
}

.width_25{
    width: 25%;
    display: inline-block;
}

.width_20{
    width: 20%;
    display: inline-block;
}

.width_15{
    width: 15%;
    display: inline-block;
}

.width_10{
    width: 10%;
    display: inline-block;
}

.width_5{
    width: 5%;
    display: inline-block;
}